<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div style="max-width: 1200px;margin: auto">
        <div class="col-md-2">
            <a class="navbar-brand" href="${request.contextPath}/word/list">二维码后台系统</a>
        </div>

        <div id="topInfo" class="hidden alert top-msg col-md-8 text-center">
            $!errMsg
            $!msg
        </div>

        <div class="col-md-offset-11">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                    ## 从session 中读取用户名
                        $!currUser.username
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/logout">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    #if($!errMsg || $!msg)
        $('#topInfo').removeClass("hidden");
        #if($!errMsg || $!params.get("errMsg"))
            $('#topInfo').addClass("alert-danger");
        #else
            $('#topInfo').addClass("alert-warning");
        #end
        setTimeout(function() {
            $('#topInfo').addClass("hidden");
        }, 2000);
    #end
</script>
