<table class="table table-hover" style="margin-left: 35px; width: 95%;">
    <caption>
        <br>
        <ol class="breadcrumb">
            <li>发票管理</li>
        </ol>

        <ol id="invoiceTab" class="breadcrumb">
            <li><a href="/invoice/list?state=">全部</a></li>
            <li><a href="/invoice/list?state=1">待处理</a></li>
            <li><a href="/invoice/list?state=2">已处理</a></li>
        </ol>
        <div class="row breadcrumb clearfix">

                <div class="col-sm-8">
                    <select name="workDepId" id="workDepId" class="selectpicker show-menu-arrow"
                            data-live-search="true" >
                        <option value="">显示全部</option>
                        #foreach($workDep in $workDeps)
                            <option value="$workDep.id" #if($!params.getString("workDepId") == $!workDep.id) selected="selected"  #end>
                                $workDep.name
                            </option>
                        #end
                    </select>
                </div>
                <div class="col-sm-4" style="text-align: right">
                    <input type="text" id="name" name="name" class="form-control" placeholder="输入姓名查询"
                           value="" maxLength="20" required/>
                </div>

        </div>
    </caption>


    <thead>
    <tr>
        <th>姓名</th>
        <th>发票抬头</th>
        <th>收件人</th>
        <th>收件地址</th>
        <th>联系电话</th>
        <th>所属单位</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($invoice in $!pagedResult.list)
        <tr>
            <td class="col-xs-1">$!userMap.get($invoice.userId).name</td>
            <td class="col-xs-2">$!invoice.invoiceTitle</td>
            <td class="col-xs-1">$!invoice.receiveName</td>
            <td class="col-xs-3">$!invoice.receiveAddress</td>
            <td class="col-xs-2">$!invoice.receivePhone</td>
            <td class="col-xs-2">$!workMap.get($!userMap.get($invoice.userId).workDepartment).name</td>
            <td class="col-xs-1">#if($!invoice.state == 1)待处理#else已处理#end</td>
            <td class="col-sm-1" style="min-width: 100px;">
            <div class="btn-group">
                #if($!invoice.state == 1)
                    <button type="button" class="btn btn-xs btn-padding btn-link" onclick="location='/invoice/outInvoice/$invoice.id'">确定开票</button>
                #else
                    -
                #end
            </div>
            </td>
        </tr>
        #end
    </tbody>
</table>

<nav>
    <div class="col-xs-4 col-xs-offset-4">
    ## 使用分页宏
        #pagination($pagedResult)
    </div>
</nav>

<script>
    var selectedTab = $('#invoiceTab a[href="$link.requestPath?state=$!state"]');
    selectedTab.parent().html(selectedTab.html());

    $('#workDepId').on("change", function() {
        var workDepId = $(this).val();
        var name = $('#name').val();
        location = '/invoice/list?state=$!state&name=' + name +'&workDepId=' + workDepId;
    });

    $('#name').blur(function() {
        var name = $(this).val();
        var workDepId = $('#workDepId').val();
        location = '/invoice/list?state=$!state&name=' + name +'&workDepId=' + workDepId;
    });


</script>

