<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="false">

    <property name="logDir" value="${user.home}/logs/sweet" />
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5level %thread [%class:%line] %M - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>${pattern}</pattern>
            <!-- 常用的Pattern变量,可打开该pattern进行输出观察 -->
            <!--
              <pattern>
                  %d{yyyy-MM-dd HH:mm:ss} [%level] - %msg%n
                  Logger: %logger
                  Class: %class
                  File: %file
                  Caller: %caller<property name="pattern" value="%d{HH:mm:ss.SSS} %-5level %logger{0} - %msg%n"/>
                  Line: %line
                  Message: %m
                  Method: %M
                  Relative: %relative
                  Thread: %thread
                  Exception: %ex
                  xException: %xEx
                  nopException: %nopex
                  rException: %rEx
                  Marker: %marker
                  %n
              </pattern>
               -->
        </encoder>
    </appender>

    <!-- 按日期区分的滚动日志, 只打ERROR日志 -->
    <appender name="ERROR-OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/error.log</file>

        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logDir}/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>

        </rollingPolicy>
    </appender>

    <!-- 级别阀值过滤 -->
    <appender name="SUM-OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/sum.log</file>

        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>

        <!-- debug以上都打印 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>


        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logDir}/sum-%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>

        </rollingPolicy>

    </appender>

    <!-- 屏蔽 hikari debug 日志 -->
    <logger name="com.zaxxer.hikari" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR-OUT" />
        <appender-ref ref="SUM-OUT" />
    </logger>

    <!-- 屏蔽 mybatis debug 日志 -->
    <logger name="org.mybatis.spring" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR-OUT" />
        <appender-ref ref="SUM-OUT" />
    </logger>

    <!-- 其他包的日志打debug级别 -->
    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR-OUT" />
        <appender-ref ref="SUM-OUT" />
    </root>
</configuration>