<form id="modifyPwdForm" class="form-horizontal" action="/config/modifyPassword" method="post">

    <caption>
        <br>
        <ol class="breadcrumb">
            <li>修改密码</li>
        </ol>
    </caption>
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">原密码: </label>

        <div class="col-sm-4">
            <input type="password" class="form-control" id="oldPwd" name="oldPwd" minLength="6"  maxLength="16"
                   required/>
        </div>
        <div id="oldMsg" class="col-sm-4" style="color:red; font-size:20px;"></div>
    </div>

    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">新密码: </label>

        <div class="col-sm-4">
            <input type="password" class="form-control" id="newPwd" name="newPwd" minLength="6" maxLength="16"
                   required/>
        </div>
    </div>

    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">重复新密码: </label>

        <div class="col-sm-4">
            <input type="password" class="form-control" id="repeatPwd" name="repeatPwd" minLength="6" maxLength="16" required/>
        </div>
        <div id="repeatMsg" class="col-sm-4" style="color:red; font-size:20px;"></div>
    </div>

    <div class="form-group">
        <div for="title" class="col-sm-4 control-label">
            <button type="submit" id="submitBtn" class="btn bg-primary">确认</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button id="cancelBtn" type="button" class="btn bg-primary">取消</button>
        </div>
    </div>
</form>

<script>
    $('#repeatPwd').on("change", function() {
            var repeatPwd = $(this).val();
            var newPwd = $('#newPwd').val();
            var oldPwd = $('#oldPwd').val();
            if(newPwd != repeatPwd){
                $('#repeatMsg').html("两次输入新密码不一致");
                return false;
            }
        });

    $("#submitBtn").on("click", function () {
           var repeatPwd = $('#repeatPwd').val();
           var newPwd = $('#newPwd').val();
           var oldPwd = $('#oldPwd').val();
           if(newPwd != repeatPwd){
               $('#repeatMsg').html("两次输入密码不一致");
               return false;
           }
        location = '/config/modifyPassword?oldPwd=' + oldPwd + '&newPwd' + newPwd;
       });

    $("#cancelBtn").on("click", function () {
           window.history.go(-1);
       });
</script>