<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>$!page_title</title>

    <meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 控制iphone状态栏 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="/static/bundle/${bundle}.css?$!{version}" rel="stylesheet">

    $screen_content

</head>
<body>

<div id="main">

</div>

<!-- Include the compiled Ratchet JS -->

<!-- 导入编译后的js -->
<script src="/static/bundle/common.js?$!{version}"></script>
<script src="/static/bundle/${bundle}.js?$!{version}"></script>

</body>
</html>
